@keyframes banner{
    25%{
        background-image: url('../img/banner/principal/bn_tattoo_16.png');
    }
    50%{
        background-image: url('../img/banner/principal/bn_tattoo_36.png');
    }
    75%{
        background-image: url('../img/banner/principal/bn_tattoo_50.png');
    }
    100%{
        background-image: url('../img/banner/principal/bn_tattoo_68.png');
    }

}

@keyframes att{
    25%{
        background-image: url('../img/banner/piercing/bn_piercing_3.png');
    }
    50%{
        background-image: url('../img/banner/principal/bn_tattoo_38.png');
    }
    75%{
        background-image: url('../img/banner/piercing/bn_piercing_10.png');
    }
    100%{
        background-image: url('../img/banner/principal/bn_tattoo_26.png');
    }
}

@keyframes tattoo{
    25%{
        background-image: url('../img/banner/principal/bn_tattoo_12.png');
    }
    50%{
        background-image: url('../img/banner/principal/bn_tattoo_56.png');
    }
    75%{
        background-image: url('../img/banner/principal/bn_tattoo_47.png');

    }
    100%{
        background-image: url('../img/banner/principal/bn_tattoo_49.png');
    }
}

@keyframes tattoo_cover{
    25%{
        background-image: url('../img/banner/cover/bn_cover.png');
    }
    50%{
        background-image: url('../img/banner/cover/bn_cover_3.png');
    }
    75%{
        background-image: url('../img/banner/cover/bn_cover_4.png');
    }
    100%{
        background-image: url('../img/banner/cover/bn_cover_5.png');
    }
}

@keyframes piercing{
    25%{
        background-image: url('../img/banner/piercing/bn_piercing_21.png');
    }
    50%{
        background-image: url('../img/banner/piercing/bn_piercing_5.png');
    }
    75%{
        background-image: url('../img/banner/piercing/bn_piercing_16.png');
    }
    100%{
        background-image: url('../img/banner/piercing/bn_piercing_14.png');
    }
}
